    <div class="container mt-3">
        <div class="jumbotron">
            <h1>Login de Usuario</h1>
            <br>

            <form id="" action="http://localhost:8080/login"  method="post">
                <!-- Campo nombre del producto -->
                <div class="form-group">
                    <label for="login">Login</label>
                    <input id="login" class="form-control" type="text" name="login" required>
                </div>
                <!-- Botón de envío -->
                <button class="btn btn-success mt-3">Enviar</button>
            </form>
            <br>
            <div id="productos"></div>
        </div>
    </div>

